@media screen and (max-width: 576px) {
  .header-container,
  .main-image-property,
  .run-content-container,
  .bmi-container,
  .team-img-section,
  .footer-content,
  .footer-main-property{
    flex-direction: column;
  }
   /* navbar styles starts */
   .navbar-content{
    max-width: 90%;
    height: 72rem;
    margin: 0 auto;
    border: 2px solid red;
   }
  .navbar-banner{
    width: 90%;
  }
  .navbar-list-banner{
    display: none;
  }
  .hamburger-menu-container{
    display: block;
    font-size: 2rem;
    color: white;
  }
  /* navbar styles ends */
  /* header styles starts */
  .header-banner{
   max-width: 90%;
    height: 21rem;
    margin: 0 auto;
    margin-top: 3.2rem;
    
  }
  .header-healthy h4{
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.7rem;
    margin-right: 4.2rem;
  }
  .header-healthy p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.75rem;
    margin-right: 4.875rem;
  }
  .header-btn-primary{
    width: 100%;
    height: 3.375rem;
    gap: 0.875rem;
    margin-top: 1.75rem;
  }
  .header-image-property{
    margin-top: 3rem;
  }
  .header-image-property img{
    width: 92%;
    height: 35rem;
    margin: 0 auto; 
  }
  /* header styles ends */
  /* main styles starts */
  .main-container{
   max-width: 90%;
    height: 82rem;
    margin: 0 auto;
    margin-top: 0.1rem;
  }
  .main-text-property{
    width: 90%;
    height: 8rem;
    margin: 0 auto;
    gap: 0.8rem;
    text-align: center;
  }
  .main-text-property h3{
    font-weight: 900;
    font-size: 2rem;
    line-height: 2rem;
  }
  .main-text-property p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.4rem;
  }
  .main-image-property{
    width: 80%;
   height: 17rem;
   margin: 0 auto;
   margin-top: 3rem;
  }
  /* main styles ends */
  /* run styles starts */
  .run-container{
   max-width: 92%;
    height: 44rem;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: rgba(34,34,34,1);
  }
  .run-content-container{
    width: 80%;
    height: 40rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .new-div{
    width: 80%;
    height: 20.3rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .run-title{
    font-weight: 900;
    font-size: 2rem;
  }
  .run-description{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  .run-btn-primary button{
    width: 100%;  
    margin: 0 auto;
    margin-top: 0.6rem;
  
  }
  .run-image-property{
    width: 100%;
    height: 15rem;
    margin-top: 2rem;

  }
  /* calculator styles starts */
  .calculator{
    max-width: 92%;
    height: 8rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .content-container{
    width: 100%;
    height: 7.8rem;
  }
  /* calculator styles ends */
  /* BMI calculator styles starts */
  .bmi-calculator{
    max-width: 90%;
    height: 50rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .bmi-container{
    width: 90%;
    height: 46rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .chart-property{
    width: 100%;
    height: 12rem;
  }
  .chart-property table{
    width: 100%;
    height: 13.5rem;
    margin-top: 1.5rem;
  }
  .bmi-calculate{
    width: 100%;
    height: 25rem;
    margin: 0 auto;
  }
  .bmi-calculate h4{
    font-weight: 900;
    font-size: 1rem;
  }
  .bmi-calculate p{
    font-size: 400;
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }
  .new-application{
    margin-top: 2.2rem;

  }
  /* BMI calculator styles ends */
  /* Team section styles starts */
  #team-section{
    max-width: 90%;
    height: 125rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .team-content{
    width: 90%;
    height: 7.75rem;
    margin-top: 3rem;
    text-align: center;
  }
  .team-content h3{
    font-weight: 900;
    font-size: 2rem;
  }
  .team-content p{
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }
  .team-img-section{
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    width: 90%;
    height: 75rem;
    margin: 0 auto;
    margin-top: 3.6rem;
    gap: 1.2rem;
  }
  .team-img-section .cameron{
    width: 100%;
    height: 17rem;
    margin: 0 auto;
   
  }
  /* Team section styles ends */
  /* Footer section styles starts */
  .footer-section{
    max-width: 90%;
    height: 63.3rem;
    margin: 0 auto;
    margin-top: 4rem;
  }
  .footer-container{
    width: 100%;
    height: 60rem;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .footer-content{
    width: 100%;
    height: 47rem;
    margin: 0 auto;
    margin-bottom: 4.5rem;
  }
  .footer-content-property{
    width: 100%;
    height: 15rem;
    margin: 0 auto;
  }
  .footer-title-description{
    width: 90%;
    height: 12.5rem;
  }
  .footer-title-description h3{
   font-weight: 800;
   font-size: 4.4rem;
  }
  .footer-title-description p{
    font-weight: 400;
    font-size: 1rem;
  }
  .footer-main-property{
    width: 100%;
    height: 32.4rem;
    margin: 0 auto;
  }
  .footer-service-property{
    width: 60%;
    height: 16rem;
    
  }
  .footer-copyright-section-property{
    width: 80%;
    height: 1.5rem;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .footer-copyright-section-property p{
    font-weight: 400;
    font-size: 1rem;
  }
}
