@media screen and (max-width: 576px) {
  .navbar-banner,
  .header-container{
    flex-direction: column;
  }
  .header-healthy h3{
    font-size: 2rem;
    
  }
  .navbar-list-banner{
    display: none;
  }
  .hamburger-menu-container{
  display: block;
  color: white;
  font-size: 40px;
  }
  
}
