@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+US+Trad:wght@100..400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   font-family: "Inter", sans-serif;
   background-color: black;
}
/* navigation content and container styles */
/* navbar styles starts */
.navbar-content{
  max-width: 100%;
  height: 44.69rem;
  margin: 0 auto;
  background-image: linear-gradient(
  rgba(17, 17, 17, 1),
  rgba(119, 119, 119, 0));
  border: 2px solid red;
}
.navbar-banner{
  width: 80%;
  height: 2.88rem;
  margin: 0 auto;
  margin-top: 3.57rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
}
.navbar-fitness-property{
 font-weight: 800;
 font-size: 2.25rem;
 line-height: 2.69rem;
 color:rgba(230, 83, 60, 1);
}
.navbar-list-banner{
  display: flex;
  gap: 2.94rem;
  align-items: center;
  border: 1px solid gray;
  border-radius: 2.44rem;
  color: rgba(255, 255, 255, 1);
}
.navbar-list-banner p{
  justify-content: center;
  margin-right: 1.25rem;
}
.hamburger-menu-container{
  display: none;
  
}
.bg-color{
  background-color: rgba(230, 83, 60, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 2.88rem;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}
/* navbar styles ends */

/* Header section styles */

/* header section starts */
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-banner{
  max-width: 40%;
  height: 27rem;
  margin-left: 9.2rem;
  border: 2px solid red;
  margin-top: 6rem;
}
.header-healthy{
  width: 100%;
  height: 23rem;
  border: 2px solid green;
  color: wheat;

}
.header-healthy h4{
  font-weight: 900;
  font-size: 4.875rem;
  color: white;
  margin-bottom: 1.75rem;
}
.header-heathy p{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.69rem;
}
.header-btn-primary{
  display: flex;
  margin-top: 1.75rem;
}
.btn-first{
  font-weight: 600;
  font-size: 1.13rem;
  color: white;
  border: none;
  margin-right: 1rem;
  border-radius: 2.88rem;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  background-color: rgba(230, 83, 60, 1);
}
.btn-second{
  font-weight: 600;
  font-size: 1.13rem;
  color: white;
  border: 1px solid white;
  border-radius: 2.88rem;
  background-color: black;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}
.header-image-property img{
  width: 100%;
  height: 100%;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
}
/* header section ends */

/* main section styles */

/* main container starts */
.main-container{
  max-width: 80%;
  height: 28.25rem;
  margin: 0 auto;
  margin-top: 6.25rem;
  border: 2px solid greenyellow;
}
.main-text-property{
  color: white;
  width: 70%;
  height: 7.5rem;
  margin: 0 auto;
  border: 2px solid yellow;
  text-align: center;
}
.main-text-property h3{
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.57rem;
  margin-bottom: 0.9rem;
}
.main-text-property p{
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.main-image-property{
  width: 100%;
  height: 17.13rem;
  color: white;
  display: flex;
  gap: 2.5rem;
  margin-top: 3.63rem;
  border: 2px solid white;
}
.movement{
  text-align: center;
  border: 2px solid yellow;
}
.movement img{
   border-radius: 50%;
}
.movement h3{
  font-weight: 600;
  font-size: 1.13rem;
  line-height: 1.32rem;
}
.movement p{
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.6rem;
}
.time{
  text-align: center;
  border: 2px solid yellow;
}
.time img{
   border-radius: 50%;
}
.time h3{
  font-weight: 600;
  font-size: 1.13rem;
  line-height: 1.32rem;
}
.time p{
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.6rem;
}
.practice{
  text-align: center;
  border: 2px solid yellow;
}
.practice img{
   border-radius: 50%;
}
.practice h3{
  font-weight: 600;
  font-size: 1.13rem;
  line-height: 1.32rem;
}
.practice p{
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.6rem;
}
.weight-loss{
  text-align: center;
  border: 2px solid yellow;
}
.weight-loss img{
   border-radius: 50%;
}
.weight-loss h3{
  font-weight: 600;
  font-size: 1.13rem;
  line-height: 1.32rem;
}
.weight-loss p{
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.6rem;
}
/* main styles ends */

/* run section styles */

/* run container starts*/
.run-container{
  max-width: 80%;
  height: 23.19rem;
  margin: 0 auto;
  margin-top: 7rem;
  border: 2px solid red;
}
.run-content-container{
  width: 90%;
  height: 18.125rem;
  margin: 0 auto;
  margin-top: 3.125rem;
  border: 2px solid green;
  border-radius: 0.94rem;
  display: flex;
  justify-content: space-between;
}
.new-div{
width: 50%;
 background-color: gray;
 height: 17.5rem;
  border : 2px solid red;

}
.run-title{
  font-weight: 900;
  font-size: 3rem;
  color: white;
}
.run-description{
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.run-image-property{
  width: 30%;
  height: auto;
  height: 17.5rem;
  border : 2px solid red;
  padding: 1.25rem;

}
.run-btn-primary button{
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4rem;
  color: white;
  background-color: rgba(230, 83, 60, 1);
  padding: 1rem 4.4rem 1rem 4.4rem;
  border: none;
  border-radius: 2.625rem;
  margin-top: 1rem;
}
.run-image-property img{
  width: 100%;
  height: 100%;
  border-radius: 1.125rem;
}
/* run styles ends */
/* calculator styles starts */
.calculator{
  max-width: 50%;
  height: 7.5rem;
  margin: 0 auto;
  margin-top: 6rem;
  border: 2px solid aqua;
}
.content-container{
  border: 2px solid gray;
  width: 100%;
  height: 7.3rem;
}
.content-container h3{
  font-weight: 900;
  font-size: 3rem;
 color: rgba(255, 255, 255, 1);
}
.content-container p{
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
 color: rgba(255, 255, 255, 0.5);
}
/* calculator styles ends */
/* BMI calculator styles starts */
.bmi-calculator{
  max-width: 100%;
  height: 32rem;
  margin: 0 auto;
  margin-top: 5.2rem;
  padding-top: 1rem;
  background-color: rgba(34,34,34,1);
}
.bmi-container{
  display: flex;
  width: 80%;
  height: 30rem;
  margin: 0 auto;
  justify-content: space-between;
  border: 2px solid aqua;
}
/* table property starts */
.bmi-chart{
  color: white;
  margin-top: 3rem;
}
.bmi-chart h4{
  font-weight: 900;
  font-size: 1.75rem;
}
.chart-property table{
  width: 33rem;
  height: 13rem;
  margin-top: 3rem;
}
/* table property ends */
/* Application property starts */
.bmi-calculate{
  border: 2px solid green;
  width: 37rem;
  height: 24rem;
  margin-top: 3rem;
}
.bmi-calculate h4{
  font-weight:900 ;
  font-size: 1.75rem;
  color: white;
}
.bmi-calculate p{
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
.new-application{
  color: rgba(255, 255, 255, 0.6);
   width: 100%;
  height: 10.5rem;
  margin: 0 auto;
  margin-top: 1rem; 
}
form{
display: grid;
grid-template-columns: repeat(2,2fr);
}
.new-file input{
  width: 99%;
  gap: 1rem;
  border-radius: 0.2rem;
  height: 2rem;
}
.select-property .new-select{
  width: 99%;
  height: 2rem;
  border-radius: 0.2rem;
}
.select-option{
max-width: 100%;
height: 2rem;
border: none;
margin-top: 0.8rem;
border-radius: 0.2rem;
 
}
.calculator-btn-primary button{
 font-weight: 600;
 font-size: 1rem;
 padding: 0.8rem 2.5rem 0.8rem 2.5rem;
 border-radius: 2.6rem;
 margin-top: 2rem;
 background-color: rgba(230, 83, 60, 1);
}
/* Application property ends */
/* team section styles starts */
#team-section{
  max-width: 80%;
  height: 50rem;
  margin: 0 auto;
  margin-top: 6rem;
  border: 2px solid red;
}

.team-content{
  width: 70%;
  height: 8rem;
  margin: 0 auto;
  border: 2px solid gray;
  text-align: center;
}
.team-content h3{
  font-weight: 900;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);

}
.team-content p{
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.8rem;
}
.team-img-section{
  width: 100%;
  height: 38rem;
  margin: 0 auto;
  border: 2px solid aqua;
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.cameron{
  width: 22rem;
  height: 16rem;
  margin: 1.5rem;
  position: relative;
}
.cameron img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  
}
.all-title{
  color:rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 1.3rem;
  position: absolute;
  top: 12rem;
  left: 1.2rem; 
}
.all-description{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.8rem;
  position: absolute;
  top: 13.6rem;
  left: 1.2rem; 
}
/* team section styles ends */
/* Footer section styles starts */
.footer-section{
  max-width: 100%;
  height: 32rem;
  margin: 0 auto;
  border: 2px solid tomato;
  margin-top: 6rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-container{
  width: 80%;
  height: 27rem;
  margin: 0 auto;
  margin-top: 4.5rem;
  border: 2px solid greenyellow;
}
.footer-content{
  width: 100%;
  height: 16rem;
  margin: 0 auto;
  display: flex;
  border: 2px solid rgb(29, 43, 29);
  margin-bottom: 5rem;
}
.footer-content-property{
  width: 50%;
  height: 15.9rem;
  border: 2px solid aliceblue;
}
.footer-title-description{
  width: 80%;
  height:11rem;
  border: 2px solid skyblue;
}
.footer-title-description h3{
  font-weight: 800;
  font-size: 5rem;
  color: rgba(230, 83, 60, 1);
}
.footer-title-description p{
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer-main-property{
  width: 50%;
  height: 15.9rem;
  border: 2px solid azure;
  display: flex;
  justify-content: space-between;
}
.footer-service-property{
  width: 36%;
  height: 15.8rem;
  border: 2px solid gold;
}
.footer-service-property h4{
  font-weight: 700;
  font-size: 2rem;
  color:rgba(255, 255, 255, 1);
}
.footer-service-property p{
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2rem;
  color:rgba(255, 255, 255, 0.5);
}
.footer-copyright-section-property{
  width: 40%;
  height: 1.5rem;
  margin: 0 auto;
  border: 2px solid antiquewhite;
  margin-top: 2.4rem;
}
.footer-copyright-section-property p{
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}